<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.min.css">
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->

	
</head>

<body>
	<div class="wrapper">
	<!-- wrapper start -->
		include modules/_header.pug
		<div class="content">
		<!-- content start -->
			<section  data-section="mainScreen" class="sectionMainScreen">
				<div class="row d-flex justify-content-center">
					<div class="sectionCoverWrap">
						<div class="sectionCover__captions">
							<a class="button mainButton redCaption" href="#ourStory">inside our studio</a>
							<div class="logoCaption">frostbite</div>
							
						</div>
						<div class="arrowBtnDown">
							include modules/icons/arrow.svg
						</div>
					</div>
				</div>
			</section>

			<section data-section="ourStory" class="sectionOurStory">
				<div class="row ourStoryWrap col-lg-10 col-md-12 col-sm-12">
					<div class="sectionHeader col-lg-4 col-md-6 col-sm-10">
						<div class="sectionHeader__divider">
							include modules/icons/waves.svg
						</div>
						<h2 class="sectionHeader__title">a team of creatives based out of california</h2>
					</div>
					<div class="row textImgRow">
						<div class="textImgRow__caption col-lg-6 col-md-6 col-sm-12">
							<h3>who we are</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. Maecenas placerat vestibulum neque et venenatis. Donec condimentum metus in tempor luctus. </p>
						</div>
						<div class="textImgRow__image col-lg-6 col-md-6 col-sm-12">
							<img src="img/whoWeAre/1.png" alt="whoWeAre">
						</div>
					</div>
					<div class="row textImgRow textImgRow--revert">
						<div class="textImgRow__caption col-lg-6 col-md-6 col-sm-12">
							<h3>what we do</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. Maecenas placerat vestibulum neque et venenatis. Donec condimentum metus in tempor luctus. </p>
						</div>
						<div class="textImgRow__image col-lg-6 col-md-6 col-sm-12">
							<img src="img/whoWeAre/2.png" alt="whoWeAre">
						</div>
					</div>
					<div class="row twoColumnsText">
						<div class="twoColumnsText__item col-lg-6 col-md-6 col-sm-12">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget commodo risus. Nulla placerat nunc nulla, id porta sapien varius sed. In vel est a dui sodales varius. In facilisis, risus non maximus scelerisque, mauris massa vehicula tortor, nec vestibulum ipsum sem et magna. Maecenas in purus ut arcu pellentesque tempus. Curabitur viverra quis ipsum vitae hendrerit. Aenean nec consequat neque, non euismod sapien. Nullam fringilla justo sed consequat pellentesque. Praesent egestas porta vestibulum.</p>
						</div>
						<div class="twoColumnsText__item col-lg-6 col-md-6 col-sm-12">
							<p>Nullam gravida odio quis ligula hendrerit, a consectetur nulla tincidunt. Ut finibus, quam id sodales tempus, neque diam fringilla lectus, vel ultricies est neque eget metus. Duis id efficitur libero. Etiam facilisis, ipsum volutpat ultrices finibus, orci sem consectetur leo, in blandit ipsum ex vitae lorem. Praesent placerat odio in lectus maximus, vel vehicula nulla scelerisque. Nullam et feugiat nibh. Nullam ultrices libero nec eros commodo, a tempus metus condimentum.</p>
						</div>
					</div>
					<div class="buttonsBlock">
						<a class="button mainButton" href="#ourProjects">journal</a>
						<a class="button secButton" href="#ourStory">ourstory</a>
					</div>
				</div>
			</section>

			<section  data-section="ourProjects" class="sectionOurProjects">
				<div class="row d-flex justify-content-center">
					<div class="darkHeadWrapper">
						<div class="latestProjectsHead col-lg-6 col-md-8 col-sm-12">
							<h2 class="sectionHeader__title">latest projects</h2>
							<p>Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.</p>
							<div class="latestProjectsHead__nav">
								<a class="button mainButton" href="#ourProjects">view projects</a>
								<a class="button secButton" href="#contacts">contact</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section  data-section="journal" class="sectionJournal">
				<div class="row d-flex ourJournalWrap">
					<div class="centralColumn col-lg-10 col-md-12 col-sm-12">
						<div class="centralColumn__caption col-lg-4 col-md-5 col-sm-10">
							<div class="sectionHeader__divider">
								include modules/icons/waves.svg
							</div>
							<h2 class="sectionHeader__title">our journal</h2>
							<p>Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.</p>
							<div class="readMore">
								<a class="button mainButton" href="#ourStory">read more</a>
							</div>
							
						</div>
						<div class="centralColumn__image col-lg-10 col-md-7 col-sm-12">
							<div class="ourJournalFoto">
								<div class="ourJournal__cover" style="background-image: url(/img/ourJournal/layer-28.png);"></div>
							</div>
						</div>
						<div class="centralColumn__overlay">
							<img src="../img/ourJournal/layer-26.png" alt="imageOverlay">
						</div>
					</div>

				</div>
			</section>

			<section  data-section="contacts" class="sectionContacns">
				<div class="row ourTeamWrap col-lg-10 col-md-12 col-sm-12">
					<div class="sectionHeader col-lg-4 col-md-6 col-sm-10">
						<div class="sectionHeader__divider">
							include modules/icons/waves.svg
						</div>
						<h2 class="sectionHeader__title">Our team</h2>
					</div>
					<div class="ourTeam">

						<!-- start loop -->
						<div class="ourTeam__item col-lg-4 col-md-6 col-sm-12">
							<div class="employerFoto">
								<div class="employerFoto__cover" style="background-image: url(/img/ourTeam/1.png);"></div>
							</div>
							<div class="whoIs">
								<span class="whoIs__name">Adam Smith</span>
								<span class="whoIs__position">CEO, Brand director</span>
							</div>
							<div class="ourTeam__caption">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat.</p>
							</div>
							<div class="ourTeam__social">
								<a href="https://twitter.com/" class="twitter">
									include modules/icons/twitter.svg
								</a>
								<a href="https://www.facebook.com/" class="facebook">
									include modules/icons/facebook.svg
								</a>
							</div>
						</div>

						<div class="ourTeam__item col-lg-4 col-md-6 col-sm-12">
							<div class="employerFoto">
								<div class="employerFoto__cover" style="background-image: url(/img/ourTeam/4.png);"></div>
							</div>
							<div class="whoIs">
								<span class="whoIs__name">Adam Smith</span>
								<span class="whoIs__position">CEO, Operations director</span>
							</div>
							<div class="ourTeam__caption">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat.</p>
							</div>
							<div class="ourTeam__social">
								<a href="https://twitter.com/" class="twitter">
									include modules/icons/twitter.svg
								</a>
								<a href="https://www.facebook.com/" class="facebook">
									include modules/icons/facebook.svg
								</a>
							</div>
						</div>

						<div class="ourTeam__item col-lg-4 col-md-6 col-sm-12">
							<div class="employerFoto">
								<div class="employerFoto__cover" style="background-image: url(/img/ourTeam/2.png);"></div>
							</div>
							<div class="whoIs">
								<span class="whoIs__name">Adam Smith</span>
								<span class="whoIs__position">photographer</span>
							</div>
							<div class="ourTeam__caption">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat.</p>
							</div>
							<div class="ourTeam__social">
								<a href="https://twitter.com/" class="twitter">
									include modules/icons/twitter.svg
								</a>
								<a href="https://www.facebook.com/" class="facebook">
									include modules/icons/facebook.svg
								</a>
							</div>
						</div>

						<div class="ourTeam__item col-lg-4 col-md-6 col-sm-12">
							<div class="employerFoto">
								<div class="employerFoto__cover" style="background-image: url(/img/ourTeam/6.png);"></div>
							</div>
							<div class="whoIs">
								<span class="whoIs__name">Adam Smith</span>
								<span class="whoIs__position">brand, UI designer</span>
							</div>
							<div class="ourTeam__caption">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat.</p>
							</div>
							<div class="ourTeam__social">
								<a href="https://twitter.com/" class="twitter">
									include modules/icons/twitter.svg
								</a>
								<a href="https://www.facebook.com/" class="facebook">
									include modules/icons/facebook.svg
								</a>
							</div>
						</div>

						<div class="ourTeam__item col-lg-4 col-md-6 col-sm-12">
							<div class="employerFoto">
								<div class="employerFoto__cover" style="background-image: url(/img/ourTeam/5.png);"></div>
							</div>
							<div class="whoIs">
								<span class="whoIs__name">Adam Smith</span>
								<span class="whoIs__position">ux / ui designer</span>
							</div>
							<div class="ourTeam__caption">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat.</p>
							</div>
							<div class="ourTeam__social">
								<a href="https://twitter.com/" class="twitter">
									include modules/icons/twitter.svg
								</a>
								<a href="https://www.facebook.com/" class="facebook">
									include modules/icons/facebook.svg
								</a>
							</div>
						</div>

						<div class="ourTeam__item col-lg-4 col-md-6 col-sm-12">
							<div class="employerFoto">
								<div class="employerFoto__cover" style="background-image: url(/img/ourTeam/3.png);"></div>
							</div>
							<div class="whoIs">
								<span class="whoIs__name">Adam Smith</span>
								<span class="whoIs__position">project manager</span>
							</div>
							<div class="ourTeam__caption">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat.</p>
							</div>
							<div class="ourTeam__social">
								<a href="https://twitter.com/" class="twitter">
									include modules/icons/twitter.svg
								</a>
								<a href="https://www.facebook.com/" class="facebook">
									include modules/icons/facebook.svg
								</a>
							</div>
						</div>
						<!-- end loop -->

					</div>
				</div>
			</section>
			<section class="ourClientsSlideshow">
				<div class="row clientsLogoWrap col-lg-10 col-md-12 col-sm-12">
					<div class="owl-carousel clientsLogo">
						<div class="clientsLogo__item">
							include modules/icons/slack.svg
						</div>
						<div class="clientsLogo__item">
							include modules/icons/addobe.svg
						</div>
						<div class="clientsLogo__item">
							include modules/icons/google.svg
						</div>
						<div class="clientsLogo__item">
							include modules/icons/logo-facebook.svg
						</div>
						<div class="clientsLogo__item">
							include modules/icons/spotify.svg
						</div>
						<div class="clientsLogo__item">
							include modules/icons/nike.svg
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- content end -->
		
	</div>
	<!-- wrapper end -->
	include modules/_footer.pug
</body>

</html>