<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/style.min.css">
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/font-awesome.min.css">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
</head>

<body>
	<div class="wrapper">
	<!-- wrapper start -->
		include modules/_header.pug
		<div class="content">
		<!-- content start -->
			<section  data-section="mainScreen" class="sectionMainScreen">
				<div class="row d-flex justify-content-center">
					<div class="sectionCoverWrap">
						<div class="sectionCover__rock"></div>
						<div class="sectionCover__human"></div>
						<div class="sectionCover__caption">
							<div class="redCaption">inside our studio
							</div>
						</div>
					</div>
				</div>
			</section>
			<section  data-section="ourStory" class="sectionOurStory">
				<div class="row d-flex justify-content-center">
				</div>
			</section>
			<section  data-section="ourProjects" class="sectionOurProjects">
				<div class="row d-flex justify-content-center">
				</div>
			</section>
			<section  data-section="journal" class="sectionJournal">
				<div class="row d-flex justify-content-center">
				</div>
			</section>
			<section  data-section="contacts" class="sectionContacns">
				<div class="row d-flex justify-content-center">
				</div>
			</section>
		</div>
		<!-- content end -->
		
	</div>
	<!-- wrapper end -->
	include modules/_footer.pug
</body>

</html>