/* footer */
.footer {
	max-width: 1440px;
	margin: 0 auto;
	width: 100%;
	background-color: $dark-background-color;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footerPrivatePolicy {
	z-index: 5;
	span {
		color: #4f4f4f;
		font-family: "Arial MT";
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		text-align: center;
		display: block;
		padding: 24px 0px;
	}
}
.logo {
	width: 17px;
	height: 17px;
}
.footerSocialIcons {
	display: flex;
	justify-content: center;

}
.footerColumn {
	display: flex;
	flex-wrap: nowrap;
	margin: 80px -15px 40px;
}
.iconLink {
	width: 19px;
	height: 19px;
	padding: 10px; 
	svg g use{
		transition: all 0.3s;
		fill: $color-contrast-white;
	}
	svg g {
		opacity: 1;
	}
	&:hover {
		svg g use{
			fill: $color-red;
		}
	} 
}
.navMenu {
	a {
		color: $color-contrast-white;
		font-family: $content-font-family;
		font-size: 13px;
		font-weight: 400;
		line-height: 40px;
		&:hover {
			text-decoration: underline;
		}
	}

}
.someBigCaption {
	color: $color-contrast-white;
	font-family: $content-font-family;
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
	text-transform: uppercase;
}
.someSmallCaption {
	color: $color-contrast-white;
	font-family: $content-font-family;
	font-size: 12px;
	font-weight: 400;
	line-height: 40px;
}
.footerMenuColumns {
	display: flex;
	justify-content: space-between;
}
.subscribeForm {
	display: flex;
	flex-direction: column;
}
.footerColumn__subscribe {
	background-color: inherit;
	position: relative;
	width: 340px;
	
	input {
		background-color: inherit;
		border: none;
		width: 100%;
		padding: 15px 50px 15px 20px;
		color: $color-contrast-white;
		font-family: "Open Sans";
		font-size: 12px;
		font-weight: 400;
		opacity: 0.2;
		border: 2px solid $color-contrast-white;
		transition: opacity 0.3s;
		&:hover,
		&:focus {
			opacity: 1;
			& + button{
				svg {
					opacity: 1;
				}
			}
		}
	}

	button {
		background-color: inherit;
		position: absolute;
		top: calc(50% - 24px);
		right: 0px;
		cursor: pointer;
		padding: 15px;
		z-index: 10;
		svg {
			width: 15px;
			height: 15px;
			opacity: 0.2;
			animation: pulse 5s infinite;
		}
	}
	
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1100px) {
	
}
/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	.footerColumn {
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.footerSocialIcons {
		order: 3;
		margin: 70px -15px 40px; 
	}
}
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.footerColumn {
		flex-direction: column;
		align-items: center;
	}
}
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

}
/* media */
/* footer end */