/* header */

.headerWrap {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	height: 97px; 
	background-color: transparent;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.searchBox {
	display: block;
	width: 40px;
  height: 40px;
  padding: 20px; 
  cursor: pointer;
}

.logo {
  display: block;
	width: 40px;
  height: 40px;
  padding: 20px; 
  cursor: pointer;
}
.navbar {
	display: block;
	width: 40px;
	height: 40px;
	padding: 20px; 
	cursor: pointer;
}

.navbar-toggler {
	cursor: pointer;
}
.navbar-toggler {
	/*display: none;*/
}

.searchForm {
	display: none;
}
.logoWrap,
.headerButtonsWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.headerIconLink {
	width: 40px;
	height: 40px;
	padding: 10px; 
	svg g use{
		transition: all 0.3s;
		fill: $color-contrast-white;
	}
	svg g {
		opacity: 1;
	}
	&:hover {
		svg g use{
			fill: $color-red;
		}
	} 
}

/* media */
/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1100px) {
	
}
/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	
}
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.navbar-toggler {
		display: block;
		margin: auto auto;
	}

}
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

}
/* media */

/* header end */
