/* header */

.headerWrap {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	height: 97px;
	border: 1px solid #000; 
	background-color: transparent;
}
.searchBox {
	display: block;
	width: 17px;
  height: 17px;
  padding: 20px; 
  cursor: pointer;
  background: url(/img/icons/search.svg) no-repeat center center;
	background-size: 17px auto;
}

.logo {
  display: block;
	width: 17px;
  height: 17px;
  padding: 20px; 
  cursor: pointer;
  background: url(/img/icons/logo.svg) no-repeat center center;
	background-size: 17px auto;
}
.navbar {
	display: block;
	width: 17px;
	height: 17px;
	padding: 20px; 
	cursor: pointer;
	background: url(/img/icons/menu.svg) no-repeat center center;
	background-size: 17px auto;
}

.navbar-toggler {
	cursor: pointer;
}
.navbar-toggler {
	/*display: none;*/
}

.searchForm {
	display: none;
}
.logoWrap,
.headerButtonsWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* media */
/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1100px) {
	
}
/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	
}
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.navbar-toggler {
		display: block;
		margin: auto auto;
	}

}
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

}
/* media */

/* header end */
