/* ourStory */
.ourStoryWrap {
	margin: 0 auto !important; 
}
.sectionHeader {
	margin: 140px auto 120px auto;
	
	&__divider {
		height: 7px;
		margin: 0px auto 40px auto;
	    display: flex;
	    justify-content: center;
	}
	&__title {
		color: $dark-background-color;
		font-family: $title-font-family;
		font-size: 23px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}
}
.textImgRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.textImgRow__caption {
	padding: 0 70px !important;
	h3 {
		margin-bottom: 20px;
	}
}
.textImgRow__image {
	padding-right: 0px !important;
    padding-left: 0px !important;
    img {
    	width: 100%;
    }
}
h3 {
	color: $dark-background-color;
	font-family: $title-font-family;
	font-size: 20px;
	font-weight: 700;
	line-height: 42.73px;
	text-transform: uppercase;
}
.textImgRow--revert {
	.textImgRow__caption {
		order: 1; 
	}
	.textImgRow__image {
		order: 0;
	}
}
.textImgRow + .textImgRow {
	margin-top: 50px;
}
.twoColumnsText {
	display: flex;
	flex-wrap: nowrap;
	padding: 130px 55px 20px 55px;
	position: relative;
	background-position: 0px 135px;
	background-image: url(../img/icons/line70.svg);
	background-repeat: no-repeat;
	&__item{
		padding: 0 30px !important; 
	}
}
.buttonsBlock {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-bottom: 170px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		background-image: url(../img/icons/line100.svg);
		background-repeat: no-repeat;
		height: 100px;
		width: 2px;
		bottom: -50px;
		left: calc(50% - 1px);
	}
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	.twoColumnsText {
		background-image: none;
	}
}
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
	.twoColumnsText {
		flex-wrap: wrap;
		border-top: 1px solid $color-main-gray;
	}
	.textImgRow {
		.textImgRow__caption {
			order: 1; 
		}
		.textImgRow__image {
			order: 0;
		}
	}
}
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

}
/* ourStory end */