/* variable */
$color-red: #f84444;
$main-font-family: "Raleway";
$title-font-family: "Raleway - Extra Bold";
$content-font-family: "Open Sans";
$dark-background-color: #2c2e37;
$color-main-gray: #949494;
$color-light-gray: #222222;
/* variable end */