<!-- footer -->
<div class="footer">
	<div class="row footerColumn col-lg-10 col-md-12 col-sm-12">
		<div class="footerColumn__Item footerMenuColumns col-lg-5 col-md-5 col-sm-12">
			<a class="footerLogo iconLink" href="index.html">
				include icons/logo.svg
			</a>
		
			<ul class="navMenu">
				<li><a href="#">Our Team</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
		
			<ul class="navMenu">
				<li><a href="#">Exclusive Offers</a></li>
				<li><a href="#">Licencing</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Refund Policy</a></li>
			</ul>
		</div>
		<div class="footerColumn__Item footerSocialIcons col-lg-2 col-md-12 col-sm-12">
			<a class="facebookLogo iconLink" href="index.html" target="_blank">
				include icons/facebook.svg
			</a>
			<a class="twitterLogo iconLink" href="index.html" target="_blank">
				include icons/twitter.svg
			</a>
		</div>
		<div class="footerColumn__Item subscribeForm col-lg-5 col-md-6 col-sm-12">
			<span class="someBigCaption">Join Our newsletter</span>
			<span class="someSmallCaption">Join up and get notified about new products, updates and special offers.</span>
			<form class="footerColumn__subscribe">
				<input type="email" placeholder="Enter your email">
				<button>
					include icons/arrow-right.svg
				</button>
			</form>
		</div>
	</div>
	<div class="footerPrivatePolicy">
		<span>© 2018 made by Jack. Все права защищены</span>
	</div>
	<div class="colorMe"></div>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/all.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</div>
<!-- footer end-->
