
<!-- head -->
<header class="headerWrap">
	<!-- <div class="navbarItems"> -->
	<div class="logoWrap">
		<a class="logo" href="index.html">
		</a>
	</div>
	<div class="headerButtonsWrap">
		<div class="searchBox">
			<form class="form-inline searchForm">
				<input class="form-control mr-sm-2" type="text" placeholder="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
		<nav class="navbar navbar-toggleable-lg" role="navigation">
			<button type="button" class="navbar-toggler navbar-toggleable-lg" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-label="Toggle navigation">
				
			</button>
			<div class="collapse navbar-collapse">
				<ul class="menu">
					<li class="menu__item active"><a href="company.html">Компания</a></li>
					<li class="menu__item"><a href="employees.html">Сотрудники</a></li>
					<li class="menu__item"><a href="documents.html">Документы</a></li>
					<li class="menu__item"><a href="lemtrans_news_main.html">Новости</a></li>
					<li class="menu__item rightGap"><a href="lemtrans_projects.html">Проекты</a></li>
					<li class="menu__item">
						<a class="headerSearch" href="index.html"><div class="searchIcon"></div></a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	
</header>
<!-- head end -->